{namespace coleslaw.theme.minimal}

{template base}
<!DOCTYPE html>{\n}
<html lang="{$config.lang}">
	<head>
		<title>{$config.title}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vidaloka">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500">
		<link rel="stylesheet" href="{$config.domain}/css/normalize.css">
		<link rel="stylesheet" href="{$config.domain}/css/style.css">
		<link rel="alternate" href="{$config.domain}/rss.xml" type="application/rss+xml">

		{if $injections.head}
      {foreach $injection in $injections.head}
        {$injection |noAutoescape}
      {/foreach}
    {/if}
	</head>

	<body>
		<header>
			<a href="{$config.domain}">
				<svg id="logo" viewBox="0 0 404.45 497.19">
					<g transform="translate(-176.4 -169.51)">
						<g transform="translate(-94.286 80)">
							<path d="m492.29 89.506v184.29h182.86v-184.29h-182.86zm46.176 47.604h90.506v89.076h-90.506v-89.076z"/>
							<path d="m629.43 272.28v46.245h45.713v-46.245h-45.713z"/>
							<path d="m493.57 316.93h181.43v45.714h-181.43z"/>
							<path d="m493.57 361.93v138.57h45.714v-138.57h-45.714z"/>
							<path d="m630 360.22h44.286v226.47h-44.286z"/>
							<path d="m271.14 542.36h363.43v44.286h-363.43z"/>
							<path d="m271.07 497.01h44.286v45.714h-44.286z"/>
							<path d="m270.69 90.934v184.29h181.59v-184.29h-45.894v47.604h0.0369v89.076h-89.881v-89.076h0.11055v-47.604h-45.967z"/>
							<path d="m270.94 316.01v184.64h180.78v-184.64h-180.78zm45.65 47.696h89.476v89.249h-89.476v-89.249z"/>
							<path d="m270.86 272.28v46.245h45.713v-46.245h-45.713z"/>
						</g>
					</g>
				</svg>
			</a>
		</header>

		{$raw |noAutoescape}

    {if $injections.body}
      {foreach $injection in $injections.body}
        {$injection |noAutoescape}
      {/foreach}
    {/if}


		<br />
		<br />
		<hr>
		<footer>
			<a href="{$config.domain}/atom.xml">Atom Feed</a>
			<a href="{$config.domain}/rss.xml">RSS Feed</a>
		</footer>
	</body>


</html>
{/template}
